@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

body {
    margin: 0;
}

/* Quickie Text Color. */
.text-white {
    color: white;
    font-family: 'Outfit', sans-serif;
}

.text-black {
    color: black;
    font-family: 'Outfit', sans-serif;
}

.text-blue {
    color: #005EF9;
    font-family: 'Outfit', sans-serif;
}

.text-deco {
    text-decoration: none;
}

.text-deco a {
    text-decoration: none;
}

.text-white a {
    color: white;
    font-family: 'Outfit', sans-serif;
}

/* Quickie Text Color ends here. */

/* Quickie Background color. */
.bg-white {
    background-color: white;
}

.bg-black {
    background-color: black;
}

.bg-red {
    background-color: red;
}

.bg-blue {
    background-color: #005EF9;
}

.bg-grey {
    background-color: #E1E1E1;
}

/* Quickie Background color ends here. */


/* Quickie Height. */
.height-50 {
    height: 50px;
}

.height-100 {
    height: 100px;
}

.height-150 {
    height: 150px;
}

.height-200 {
    height: 200px;
}

.height-250 {
    height: 250px;
}

/* Quickie Height ends here. */


/* -------------------------------------------------------- */
/* Header Page CSS starts here. */
/* -------------------------------------------------------- */

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* Middle Navbar */
.dropdown-menu {
    margin: 0 10px;
    border: #3B82F6 solid 2px;
}

.nav_items ul li a {
    color: #000000;
    padding: 10px;
}

.nav_items ul li a:hover {
    color: #3B82F6;
}

.mobile_top_nav {
    display: none;
}

/* Middle Navbar ends here. */

/* Top Nav & Mid Nav Mobile View starts here */

@media screen and (max-width:991px) {
    .top_nav {
        display: none;
    }

    .mobile_top_nav {
        display: inline;
    }
}

/* 768 */


/* Top Nav & Mid Nav Mobile View ends here */


/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* -------------------------------------------------------- */
/* Header Page CSS ends here. */
/* -------------------------------------------------------- */