@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

body {
    margin: 0;
    font-family: 'Outfit', sans-serif;
}

/* Quickie Text Color. */
.text-white {
    color: white;
}

.text-black {
    color: black;
}

.text-blue {
    color: #005EF9;
}

.text-deco {
    text-decoration: none;
}

.text-deco a {
    text-decoration: none;
}

/* Quickie Text Color ends here. */

/* Quickie Background color. */
.bg-white {
    background-color: white;
}

.bg-black {
    background-color: black;
}

.bg-red {
    background-color: red;
}

.bg-blue {
    background-color: #005EF9;
}

.bg-grey {
    background-color: #E1E1E1;
}

/* Quickie Background color ends here. */


/* Quickie Height. */
.height-50 {
    height: 50px;
}

.height-100 {
    height: 100px;
}

.height-150 {
    height: 150px;
}

.height-200 {
    height: 200px;
}

.height-250 {
    height: 250px;
}

/* Quickie Height ends here. */

/* Top Navbar starts here. */

.navbar.fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #fff;
}

.nav_brand_text {
    font-style: italic;
    font-size: 40px;
    font-weight: bold;
}

/* Adjust padding for mobile view */
@media (max-width: 768px) {
    .navbar.fixed-top {
        padding: 10px 0;
    }

    .nav_brand_text {
        margin-top: 10px;
    }
}


@media screen and (max-width:768px) {
    .nav_brand_text {
        display: flex;
        font-size: 20px;
    }
}

@media screen and (max-width:661px) {
    .nav_brand_text {
        display: none;
    }
}

/* Top Navbar ends here. */

/* -------------------------------------------------------- */
/* Index Page CSS starts here. */
/* -------------------------------------------------------- */

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* Learning Management */
.learning_display h4 {
    color: #0043B1;
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
}

.learning_display h1 {
    text-align: center;
    color: #000000;
    font-weight: bolder;
}

.learning_display h1 span {
    color: #3B82F6;
    font-weight: bold;
}

/* Learning Management Mobile View starts here */
.learning_display_mobile {
    display: none;
}

.video_display_mobile {
    display: none;
}

.learning_display_mobile h4 {
    margin-top: 50px;
    color: #0043B1;
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

.learning_display_mobile h1 {
    text-align: center;
    color: #000000;
    font-weight: bolder;
}

.learning_display_mobile h1 span {
    color: #3B82F6;
    font-weight: bold;
}

@media screen and (max-width:1200px) {

    .learning_display {
        display: none;
    }

    .video_display {
        display: none;
    }

    .learning_display_mobile h4 {
        display: none;
    }

    .learning_display_mobile {
        display: inline;
        font-size: medium;
    }

    .video_display_mobile {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width:900px) {
    .learning_display_mobile h4 {
        display: none;
    }

    .learning_display_mobile {
        display: inline;
        text-align: center;
        font-size: medium;
    }

    .video_display_mobile {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* Learning Management Mobile View ends here */


/* 768 1200*/

/* Learning Management ends here. */

/* Trusted By. */
.Trust_Us_Text {
    margin-top: 25px;
    text-align: center;
    color: #0051D7;
    font-weight: bold;
}

.trust_row {
    margin-top: 50px;
}

.trust_row_1 {
    margin-top: 70px;
    margin-left: -25px;
}

.trust_row_2 {
    margin-top: 120px;
    margin-left: -25px;
}

/* Trusted By ends here. */

/* Our Journey Path */
.journey h1 {
    text-align: center;
    margin-top: 80px;
}

.journey h2 {
    text-align: center;
    margin-top: 20px;
}

.journey img {
    width: 100%;
    margin-top: 20px;
    border-radius: 50px;
}

/* Our Journey Path ends here. */

/* Top Programming Courses. */
/* .course_card {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 70px;
} */

.course_card_btn {
    color: white;
    background-color: #3B82F6;
}

.course_card_btn:hover {
    color: white;
    background-color: #0043B1;
}

/* .course_card_body {
    padding-left: 2px;
    border-radius: 20px;
    margin-right: 21px;
}

.course_card_body:hover {
    width: 17rem;
    height: 379px;
    padding-left: 2px;
    border-radius: 20px;
    margin-right: 21px;
    border-bottom-width: 5px;
    border-right-width: 5px;
    border-left-width: 2px;
    border-bottom-color: #E1E1E1;
    border-right-color: #E1E1E1;
}

.course_card_body img {
    margin-top: 12px;
    margin-left: 5px;
} */

/* 1400, 1200, 991 */

/* Top Programming Courses ends here. */

/* Best Computer Programming Certificates starts here. */
._gradient p {
    font-size: 30px;
}

._gradient span {
    font-size: 30px;
}

._gradient li {
    display: inline-block;
    font-weight: bold;
    font-size: 20px;
    color: #0043B1;
}

._gradient li span {
    font-weight: bolder;
    font-size: 20px;
    color: black;
}

._gradient_mobile {
    display: none;
}

/*  */

@media screen and (max-width:1740px) {

    ._gradient {
        display: none;
    }

    ._image {
        width: 100%;
    }

    ._gradient_mobile {
        display: inline-block;
    }

    ._gradient_mobile p {
        font-size: 30px;
    }

    ._gradient_mobile span {
        font-size: 30px;
    }

    ._gradient_mobile li {
        display: inline-block;
        font-weight: bold;
        font-size: 20px;
        color: #0044b2;
    }

    ._gradient_mobile li span {
        font-weight: bolder;
        font-size: 20px;
        color: black;
    }

}

/*1740 768 */

/* Best Computer Programming Certificates ends here. */



/* FAQ style for the lines. */
.above-line,
.below-line {
    border: 0;
    /* Remove the default border */
    border-top: 2px solid #000;
    /* Set the border color and thickness for the lines */
    margin: 10px 0;
    /* Adjust margin as needed to control the spacing */
}

/* Center the text and style it */
.f-a-q {
    margin-top: 60px;
}

.f-a-q h1 {
    text-align: center;
    font-weight: bold;
    color: #005EF9;
}

.faq_row {
    margin-top: 40px;
}

.faq_row_ques {
    text-decoration: none;
    color: black;
    font-size: 25px;
}

.faq_row_ans {
    background-color: #E1E1E1;
    border-radius: 20px;
    margin-top: 10px;
    display: none;
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* -------------------------------------------------------- */
/* Index Page CSS ends here. */
/* -------------------------------------------------------- */